.Comp2 {
  background-color: #00cfe9;
  padding: 25px 0;
  padding-top: 28px;
  margin: -2px;
}

.Comp2_ {
  margin: 0 20px;
}

.Comp2_title {
  max-width: 1150px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.Comp2_titleHeading {
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.Comp2_title button {
  padding: 21px 40px;
  width: 31.2vw;
  max-width: 312px;
  background-color: #fff;
  text-align: center;
  color: #00cfe9;
  font-size: 16px;
  line-height: 18px;
  border: none;
  border-radius: 5px;
  font-weight: 400;
  font-family: montserrat, sans-serif;
  margin-top: 6px;
}

.comp3_content {
  max-width: 1168px;
  margin: auto;
  padding: 30px 5px;
  display: flex;
}

.comp3_img img {
  max-width: 36.2vw;
}

.comp3_acordion {
  padding: 6vw 30px;
}

.comp3_heading {
  max-width: 600px;
  max-height: 250px;
  word-wrap: break-word;
  margin: auto;
}

.comp3_heading_text {
  font-size: 40px;
  font-weight: 200;
  line-height: normal;
  font-family: montserrat, sans-serif;
}

.comp3_title {
  font-family: montserrat, sans-serif;
  line-height: 28px;
  font-size: 14px;
  font-weight: 500px;
  color: #747474;
  margin-top: 30px;
  letter-spacing: 0.3px;
}

.comp5_Heading {
  max-width: 900px;
  margin: auto;
  margin-bottom: 30px;
}

.comp5_fl_heading {
  text-align: center;
  font-family: montserrat, sans-serif;
  font-size: 40px;
  font-weight: 200;
  line-height: normal;
}

.ImageListgrid {
  max-width: 1140px;
  display: grid;
  grid-template-columns: auto auto auto;
  padding-left: 10px;
  padding-right: 20px;
  margin: auto;
  align-items: center;
  grid-gap: 5px 20px;
  justify-content: space-between;
}

.Imageslider {
  position: fixed;
  top: 18%;
  width: 100%;
  margin: auto;
}

.comp5 {
  margin: 10px -2px;
  padding: 55px 0;
  padding-bottom: 40px;
}

.fl_heading_text strong {
  font-weight: 900;
  font-size: 40px;
  font-family: montserrat, sans-serif;
  color: #3f3f3f;
}

.comp6 {
  width: 100%;
  background-color: #fafafa;
  margin-right: -5px;
  margin-left: -0px;
  margin-top: 35px;
  padding-top: 65px;
  padding-bottom: 50px;
}

.comp6_content {
  max-width: 1195px;
  margin: auto;
}

.comp6_heading {
  font-size: 40px;
  font-weight: 200;
  text-align: center;
  line-height: normal;
  font-family: montserrat, sans-serif;
  color: #3f3f3f;
  overflow-wrap: break-word;
  margin-bottom: 35px;
}

.comp6_grid {
  display: flex;
  justify-content: space-between;
  margin: 0 13px;
}

.comp6_grid_content {
  border: 1px solid #ebebeb;
  padding: 20px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comp7 {
  margin-top: 65px;
  font-family: montserrat, sans-serif;
  margin-bottom: 210px;
}

.comp7_heading {
  text-align: center;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 40px;
  font-family: montserrat, sans-serif;
  font-weight: 200;
  color: #3f3f3f;
  overflow-wrap: break-word;
  line-height: normal;
}
.comp7_heading b {
  font-weight: 900;
}

.comp7_grid {
  max-width: 1160px;
  margin: auto;
  margin-top: 35px;
}

.cardComp {
  width: 100%;
  margin: 15px 10px;
}

.comp7_grid_content {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  margin-bottom: 80px;
}

@media only screen and (max-width: 615px) {
  .ImageListgrid {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 700px) {
  .Comp2_title {
    flex-direction: column;
  }
  .Comp2_title button {
    max-width: none;
    width: 100%;
  }
  .comp6_grid {
    flex-direction: column;
  }
  .comp6_grid_content {
    max-width: 400px;
    margin: auto;
    border-left: none;
    border-right: none;
  }
}

@media only screen and (max-width: 770px) {
  .comp3_img {
    width: fit-content;
    margin: auto;
  }
  .comp3_heading {
    max-width: 370px;
    width: 100%;
  }
  .comp3Acordion {
    max-width: 350px;
    margin: auto;
  }
  .comp3_img img {
    min-width: 230px;
    max-width: 48vw;
  }
  .comp3_title {
    max-width: 370px;
    margin: auto;
    margin-top: 30px;
  }
  .comp3_content {
    flex-direction: column;
  }
}

@media only screen and (max-width: 810px) {
  .card {
    margin-right: 0px;
  }
  .cardComp {
    width: fit-content;
    overflow: hidden;
    margin: auto;
  }

  .comp7_grid_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (max-width: 940px) {
  .ImageListgrid {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 990px) {
  .Imageslider {
    top: 40%;
  }
}

@media only screen and (max-width: 1199px) {
  .comp7_grid_content {
    grid-template-columns: auto auto;
    justify-content: center;
    grid-gap: 10px;
  }
}
